/**** VARIABLES *****/
html {
  --color-letter: #ffffff;
  --color-blue: #0000ff;
  --color-yellow: #ffff00;
}


::selection {
  background: var(--color-yellow);
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--color-yellow); /* Gecko Browsers */
}

/***** ABOUT ****/
.about {
  background-color: var(--color-blue);
}

/**** TITLE ****/
  @font-face {
      font-family: "SpaceGrotesk-Bold";
      src: url(addons/SpaceGrotesk/SpaceGrotesk-Bold.otf) format("opentype");
  }
  h1.about-title {
      font-family: "SpaceGrotesk-Bold";
      color:var(--color-letter);
      grid-area: header;
      font-size: 60px;
      padding-left: 2rem;
  }
/**** DESCRIPTION ****/

 @font-face {
   font-family: "SpaceGrotesk-Regular";
   src: url(addons/SpaceGrotesk/SpaceGrotesk-Regular.otf) format("opentype");
 }

 .about-testo {
   font-family: "SpaceGrotesk-Regular";
   color:var(--color-letter);
   font-size: 24px;
}

 .margine-about-1 {
   margin-bottom: 150px;
}

.margine-about-2 {
  margin-top:50px;
}


.about-link{
  text-decoration: none;
  color: var(--color-letter);
  font-family: "SpaceGrotesk-Regular";
  font-size: 16px;
  margin-left: 1rem;
}

.about-link:hover{
  text-decoration: none;
  color: var(--color-yellow);
  font-family: "SpaceGrotesk-Regular";
  font-size: 16px;
  transition: 0.5s;
}

.about-link:visited{
  text-decoration: none;
  color: var(--color-letter);
  font-family: "SpaceGrotesk-Regular";
  font-size: 16px;
  transition: 0.5s;

}

.project-name {
  font-family: "SpaceGrotesk-Bold";

}

/**** ROAD MAP *****/

  .st0 {
    fill: #FFFFFF;
  }

  .st1 {
    fill: none;
  }

  .st2 {
    fill: #1D1D1B;
  }

  .st3 {
    font-family: 'SpaceGrotesk-Regular';
  }

  .st4 {
    font-size: 9px;
  }

  .st5 {
    fill: #0000FF;
  }

  .st6 {
    fill: none;
    stroke: #0000FF;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st7 {
    font-family: 'SpaceGrotesk-Bold';
  }

  .st8 {
    font-size: 12px;
  }

  .st9 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
  }

  .st10 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
  }

  .st11 {
    font-size: 11.9944px;
  }


/**** INDEX ****/

.wrapper {
    display: flex;
    width: 100%;

}

#sidebar {
    width: 30vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--color-blue);
    color: #fff;
    transition: all 0.3s;

}

.bottoni {

  color: var(--color-letter);
  font-family: "SpaceGrotesk-Regular";
  font-size: 16px;
  background-color: var(--color-blue);
  border: 3px solid white;
  margin-left: 3rem;

}

button:active {
    outline: none;
    border: none;
}

ul{
  margin-top: 20px;
  margin-left: 30px;
}

li {

  margin-bottom: 40px;
}

.mappa {
  height: auto;
  width: 69vw;
  margin-left: 30vw;

}


/**** SCROLLBAR ****/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-letter);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-fluid {
  padding: -15px;
}

/* Maps */
.is-hidden {
    display: none;
    opacity: 0;
}


.lato {
  margin-left:1rem;
  font-family: "SpaceGrotesk-Regular";
  font-size: 12px;
  margin-right: 1rem;

}
