/**** VARIABLES *****/
html {
  --color-letter: #ffffff;
  --color-blue: #0000ff;
}

/***** CSS-GRIDS ****/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
}

/***** ABOUT ****/
.about {
  background-color: var(--color-blue);
}

/**** TITLE ****/
@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url(addons/SpaceGrotesk/SpaceGrotesk-Bold.otf) format("opentype");
}

.about-title {
  font-family: "SpaceGrotesk-Bold";
  color: var(--color-letter);
  grid-column: 2;
}


/**** DESCRIPTION ****/
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url(addons/SpaceGrotesk/SpaceGrotesk-Regular.otf) format("opentype");
}
.about-testo2 {
  font-family: "SpaceGrotesk-Bold";
  color: var(--color-letter);
  grid-column: 2;
}
.about-testo3 {
  font-family: "SpaceGrotesk-Bold";
  color: var(--color-letter);
  grid-column: 3;
}
